@import "../styles/variables.css";

.navbar {
  /* position: absolute; */
  top: 0;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-list {
  font-family: "Permanent Marker";
  font-size: 1.5rem;
  display: flex;
  gap: 2rem;
}

.navbar-icon {
  font-size: 1.5rem;
}
