.languages-section {
  height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.languages-top-border,
.languages-bottom-border {
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--yellow);
}

.languages-top-border {
  top: 0;
  animation: lineDrawToRight 1s ease-out;
}

.languages-bottom-border {
  bottom: 0;
  animation: lineDrawToLeft 1s ease-out;
}

.languages-list {
  font-family: "Permanent Marker";
  position: relative;
  width: 100%;
  height: 100%;
}

.languages-list-item {
  position: absolute;
}

.languages-list-js {
  top: 38%;
  left: 15%;
  font-size: 3rem;
  color: var(--orange);
}

.languages-list-html {
  top: 55%;
  left: 5%;
  font-size: 2.5rem;
}

.languages-list-css {
  top: 60%;
  left: 75%;
  font-size: 2.5rem;
  color: var(--orange);
}

.languages-list-tail {
  top: 90%;
  left: 0%;
  font-size: 2rem;
  color: var(--orange);
}

.languages-list-ruby {
  top: 15%;
  left: 0%;
  font-size: 2.5rem;
  color: var(--yellow);
}

.languages-list-react {
  top: 25%;
  left: 40%;
  font-size: 2.5rem;
  color: var(--yellow);
}

.languages-list-boot {
  top: 85%;
  left: 60%;
  font-size: 1.5rem;
  color: var(--yellow);
}

.languages-list-ts {
  top: 10%;
  left: 50%;
  font-size: 2rem;
}

.languages-list-sql {
  top: 5%;
  left: 25%;
  font-size: 1.5rem;
}

.languages-list-heroku {
  top: 80%;
  left: 25%;
  font-size: 1.5rem;
}

.languages-list-github {
  top: 68%;
  left: 35%;
  font-size: 2rem;
}

@media (min-width: 600px) and (max-width: 1000px) {
  .languages-list-js {
    top: 35%;
    left: 35%;
    font-size: 3rem;
    color: var(--orange);
  }

  .languages-list-html {
    top: 50%;
    left: 15%;
    font-size: 2.5rem;
  }

  .languages-list-css {
    top: 50%;
    left: 80%;
    font-size: 2.5rem;
    color: var(--orange);
  }

  .languages-list-tail {
    top: 80%;
    left: 5%;
    font-size: 2rem;
    color: var(--orange);
  }

  .languages-list-ruby {
    top: 10%;
    left: 10%;
    font-size: 2.5rem;
    color: var(--yellow);
  }

  .languages-list-react {
    top: 20%;
    left: 60%;
    font-size: 2.5rem;
    color: var(--yellow);
  }

  .languages-list-boot {
    top: 80%;
    left: 75%;
    font-size: 1.5rem;
    color: var(--yellow);
  }

  .languages-list-ts {
    top: 5%;
    left: 70%;
    font-size: 2.5rem;
  }

  .languages-list-sql {
    top: 5%;
    left: 35%;
    font-size: 1.5rem;
  }

  .languages-list-heroku {
    top: 70%;
    left: 35%;
    font-size: 1.5rem;
  }

  .languages-list-github {
    top: 60%;
    left: 60%;
    font-size: 2rem;
  }
}

@media (min-width: 1000px) {
  .languages-list-js {
    top: 35%;
    left: 40%;
    font-size: 3.5rem;
    color: var(--orange);
  }

  .languages-list-html {
    top: 50%;
    left: 15%;
    font-size: 3rem;
  }

  .languages-list-css {
    top: 50%;
    left: 80%;
    font-size: 3rem;
    color: var(--orange);
  }

  .languages-list-tail {
    top: 80%;
    left: 5%;
    font-size: 2.5rem;
    color: var(--orange);
  }

  .languages-list-ruby {
    top: 10%;
    left: 10%;
    font-size: 3rem;
    color: var(--yellow);
  }

  .languages-list-react {
    top: 15%;
    left: 53%;
    font-size: 3rem;
    color: var(--yellow);
  }

  .languages-list-boot {
    top: 80%;
    left: 75%;
    font-size: 1.5rem;
    color: var(--yellow);
  }

  .languages-list-ts {
    top: 10%;
    left: 70%;
    font-size: 3rem;
  }

  .languages-list-sql {
    top: 5%;
    left: 35%;
    font-size: 2rem;
  }

  .languages-list-heroku {
    top: 70%;
    left: 35%;
    font-size: 2rem;
  }

  .languages-list-github {
    top: 60%;
    left: 60%;
    font-size: 2.5rem;
  }
}

@keyframes lineDrawToRight {
  0% {
    right: 100%;
    width: 0;
  }
  100% {
    right: 0;
    width: 100%;
  }
}

@keyframes lineDrawToLeft {
  0% {
    left: 100%;
    width:0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

@media (min-width: 600px) {
  .languages-section {
    height: 50vh;
  }
}
