@import "../styles/variables.css";

.desk-navbar {
  display: none;
}


@media (min-width: 600px) {
  .mobile-navbar {
    display: none;
  }

  .desk-navbar {
    top: 0;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .desk-navbar-list {
    font-family: "Permanent Marker";
    font-size: 1.5rem;
    display: flex;
    gap: 2rem;
  }

  .desk-navbar-icon {
    font-size: 1.5rem;
  }
}
