.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 40rem;
  positon: relative;
  padding-bottom: 4rem;
  padding-top: 4rem;
  border-bottom: 2px solid var(--yellow);
}

.project-header {
  font-family: "Permanent Marker";
  font-size: 1.2rem;
  margin: 0;
}

.project-header:hover {
  cursor: pointer;
}

/* .project-img-container {
  overflow: hidden;
} */

.project-img {
  width: 12rem;
  filter: saturate(80%);
}

.project-img:hover {
  filter: saturate(100%);
  scale: 1.05;
  transition: all 0.5s ease;
  cursor: pointer;
}

.project-left {
  direction: rtl;
}

.project-left-text {
  text-align: right;
}

.project-links {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 4rem;
}

@media (min-width: 800px) {
  .project-container  {
    margin-bottom: 0;
  }

  .project-header {
    font-size: 1.2rem;
  }

  .project-left-image {
    margin-left: 2rem;
  }
}

@media (min-width: 1200px) {
  .project-header {
    font-size: 2rem;
  }

  .project-img-container img {
    width: 16rem;
  }
}
