.project-section {
  padding: 2rem 1rem;
  margin-bottom: 4rem;
}

.project-head {
  position: relative;
}

.project-section h1 {
  font-family: "Permanent Marker";
  font-size: 4rem;
  margin-bottom: 6rem;
}

.project-head-underline {
  width: 17rem;
  position: absolute;
  top: 5rem;
  z-index: 0;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

@media (min-width:600px)  {
  .project-section h1 {
    margin-top: 2rem;
    margin-left: 4rem;
  }

  .project-head-underline {
    top: 5rem;
    left: 4rem;
  }
}

@media (min-width: 800px) {
  .project-section {
    padding: 2rem;
  }

  .project-section h1 {
    font-size: 5rem;
  }

  .project-head-underline {
    width: 20rem;
    top: 6rem;
  }
}
